body {
    margin: 0 auto;
    text-align: center;
}

main {
    margin: 0 auto;
    /*border: 5px solid green*/
}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.red {
    background: #E6563B;
}
.orange {
    background-color: #EB9D3A;
}
.green {
    background-color: #7CB06C;
}
.blue {
    background-color: #00ABA9;
}
.circle {
    border: 5px solid white;
    border-radius: 50%;
    width:100px;
    height:100px;
    text-align: center;
    padding-top: 33px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.circle-div {
    text-align: center;
    margin: 0 auto;
    /*border: 5px solid blue*/
}

header {
    font-family: 'Anton', sans-serif;
}

p {
    text-align: left;
    font-family: 'Abel', sans-serif;
}

.card {
    background-color: darkgray;
}

.card-body {
    background-color: lightgray;
}

h5 {
    margin-bottom: 40px;
}

.left-i {
    float:left;
    margin-right: 10px;
}

.left-h {
    position:relative;
}

#twitter {
    background: lightgray;
}

.content {
    /*border: 5px solid orange*/
}

.dot-parent {
    position: relative;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    float: right;
    font-size: small;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    margin: 10px;
    margin-top: 5px;
    margin-right: auto;
    font-family: Impact;

}

.twitter-last-tweet {
    margin-top: 10px;
}